@media screen and (max-width: 612px) {
    header{
        height: 64px;
    }

    main{
        padding-top: 64px;
        margin: 0px 12px;
    }

    nav{
        margin: 0px 24px;
    }

    #home{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}